* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #373867;
    font-family: 'Roboto', sans-serif;
}
/* general styles */
a {
    text-decoration: none;
    color: #373867;
}

.clear {
    clear: both;
}

img {
    height: auto;
}

header, footer {
    width: 100%;
}

header, footer, aside {
    position: fixed;
    z-index: 100;
}

header, footer {
    background-color: #373867;
}
h3 {
    text-align: center;
}
/* text styles */
.header, .title, .sub-header, .component-body, .secondary-body, .button, .large-body, .body, .small-body {
    font-style: normal;
}
.header, .title, .button {
    font-weight: 700;
}
.sub-header, .secondary-body, .large-body, .body, .small-body {
    font-weight: 400;
}
.header {
    font-size: 40px;
    line-height: 47px;
}

.title {
    font-size: 14px;
    line-height: 16px;
}

.sub-header {
    font-size: 20px;
    line-height: 23px;
}

.component-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.secondary-body {
    font-size: 12px;
    line-height: 14px;
}

.button {
    font-size: 15px;
    line-height: 18px;
}

.large-body {
    font-size: 20px;
    line-height: 30px;
}

.body {
    font-size: 15px;
    line-height: 24px;
}

.small-body {
    font-size: 12px;
    line-height: 18px;
}
/* end text styles */
/* end general styles */
/*header*/
header {
    height: 90px;
    top: 0;
}

#header-logo {
    position: relative;
    width: 45px;
    height: 61px;
    left: 50%;
    top: 15px;
}

#sign-up {
    position: relative;
    float: right;
    background-color: #AACE9B;
    color: #373867;
    padding: 10px 24px;
    border-radius: 5px;
    margin: 28px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border: none;
}
/*end header*/
/*footer*/
footer {
    height: 104px;
    bottom: 0;
}
footer > * {
    text-align: center;
    color: #AACE9B;
    margin-bottom: 2px;
}
footer p {
    color: #AACE9B;
}
footer address, footer p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
footer ul {
    margin-top: 17px;
}
footer li {
    display: inline-block;
    margin: 0 7px;
}
/*end footer*/
/* aside */
aside {
    background-color: #AACE9B;
    height: 835px;
    width: 300px;
    top: 90px;
}

aside nav div {
    width: 180px;
    font-style: normal;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin: 60px 0 0 32px;
    padding-bottom: 33px;
    border-bottom: 3px solid #373867;
    margin-bottom: 13px;
}

aside li {
    width: 241px;
    height: 36px;
    background-color: #fff;
    margin: 0 0 23px 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #373867;
}
aside a {
    display: block;
    line-height: 36px;
    padding: 2px 0 0 10px;
}
/* end aside */

main {
    margin: 90px 0 0 300px;
    padding-bottom: 104px;
}
section {
    border-bottom: 60px solid #49A37B;
}
section:first-child, section:last-child {
    border: none;
}
/*section home*/
#home {
    background-image: url(../assets/front-image.jpg);
    background-position: left top;
    background-size: cover;
    padding: 134px 0 156px 0;
    min-height: 830px;
}

#home h1 {
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}

#home img {
    display: block;
    margin: 0 auto;
}
/*end section home*/
/* section #im-trackgenix */
#im-trackgenix {
    padding: 75px 121px 60px 85px;
}
#im-trackgenix .title {
    color: rgba(55, 56, 103, 0.7);
    font-size: 30px;
    line-height: 35px;
}
#im-trackgenix h2, #im-trackgenix p {
    width: 50%;
    text-align: center;
    max-width: 366px;
    margin-bottom: 36px;
}
#im-trackgenix img {
    width: 50%;
    max-width: 430px;
    float: right;
}
/* end section #im-trackgenix */
/* section #what-can-i-do */
#what-can-i-do {
    padding: 53px 56px 0;
}
#what-can-i-do h3 {
    text-align: center;
    margin-bottom: 60px;
}
#what-can-i-do div {
    width: 438px;
    height: 118px;
    margin-bottom: 100px;
}
#what-can-i-do div:nth-child(even) {
    float: right;
}
#what-can-i-do h4 {
    width: 322px;
    margin-bottom: 10px;
    float: right;
    left: 115px;
}
#what-can-i-do .title {
    font-size: 26px;
}
#what-can-i-do p {
    display: inline-block;
    width: 322px;
    float: right;
}
#what-can-i-do img {
    width: 100px;
    display: inline-block;
    margin-right: 12px;
    float: left;
}
/* end section #what-can-i-do */
/* #about us */
#about-us {
    padding: 61px 42px;
}
#about-us h3 {
    margin-bottom: 85px;
}
#about-us p, #about-us img {
    display: inline-block;
}
#about-us p {
    max-width: 609px;
}
#p-about-us-1 {
    margin-bottom: 81px;
}
#p-about-us-2 {
    text-align: right;
    float: right;
}
#img-about-us-1 {
    float: right;
    margin-left: 66px;
}
#img-about-us-2 {
    margin-right: 66px;
}
/* end #about us */
/* section #contact-us */
#contact-us {
    padding: 52px 45px 80px;
}
#contact-us .container {
    width: 856px;
    height: 570px;
    margin: 35px 96px 20px;
}
#contact-us .title {
    font-size: 30px;
    line-height: 35px;
}
#contact-us .sub-header {
    font-size: 20px;
    line-height: 23px;
}
form {
    padding-right: 170px;
}
form, #contact-us address {
    width: 428px;
    float: left;
}
form * {
    display: block;
    width: 100%;
}
form input, form select, form textarea {
    height: 37px;
    font-weight: 400;
    margin-bottom: 30px;
    border: 1px solid #373867;
    border-radius: 4px;
    padding-left: 12px;
    color: #373867;
}
form select:first-child {
    color: rgba(55, 56, 103, 0.5);
}
form textarea {
    min-height: 100px;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 45px;
}
form label {
    margin-bottom: 7px;
}
#submit {
    background-color: #AACE9B;
    color: #373867;
    padding: 10px 24px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}
#contact-us address {
    padding: 69px 0;
}
#contact-us address div {
    width: 426px;
    height: 150px;
    vertical-align: middle;
}
#contact-us img, .data {
    display: inline-block;
    margin: auto ;
}
.data  {
    width: 326px;
    float: right;
}
#contact-us img {
    width: 80px;
    margin-right: 20px;
}
#pbs {
    width: 1050px;
    height: 170px;
    margin-top: 19px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 19px 86px 0;
}
#pbs div {
    width: 200px;
    float: left;
    margin: 0 45px;
}
#pbs h4 {
    margin-bottom: 20px;
}
#pbs ol {
    list-style-type: decimal;
    padding-left: 28px;
}
/* end section #contact-us */