main {
    margin-top: 90px;
    padding-bottom: 104px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 60px solid #49A37B;
}

section:first-child, section:last-child {
    border: none;
}

#home {
    flex-direction: column;
    padding: 62px 0 154px 0;
    background-image: url(../assets/front-image.jpg);
    background-position: left top;
    background-size: cover;
}

#home h1 {
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #fff;
}

#home img {
    width: 100%;
    max-width: 338px;
}

#im-trackgenix {
    padding: 35px 25px 16px;
    text-align: center;
}

#im-trackgenix img {
    order: 1;
    width: 100%;
    max-width: 300px;
}

#im-trackgenix h2, #im-trackgenix p {
    margin-bottom: 40px;
}

#im-trackgenix .title {
    color: rgba(55, 56, 103, 0.7);
    font-size: 30px;
    line-height: 35px;
}

#what-can-i-do {
    padding: 25px;
}

#what-can-i-do h3 {
    margin-bottom: 40px;
}

.can-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 90px 0;
}

.can-do img {
    width: 100px;
    margin-right: 5px;
}

.can-do .title {
    font-size: 22px;
    line-height: 26px;
}

.can-do .body {
    font-size: 18px;
    font-weight: 21px;
}

.can-do-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 122px;
}

#about-us {
    padding: 16px 25px 36px;
}

#about-us > * {
    margin-bottom: 90px;
}

#about-us .body {
    font-size: 18px;
    font-weight: 21px;
}

#about-us p:last-child {
    text-align: right;
}

#about-us img {
    width: 100%;
}

#about-us img:last-of-type {
    order: 1;
    margin: 0;
}

#contact-us {
    padding: 25px 0;
}

#contact-us h3 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 75px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
    
}

form label {
    margin-bottom: 7px;
    font-weight: bold;
}

form input, form select, form textarea {
    height: 37px;
    padding-left: 12px;
    border: 1px solid #373867;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    min-height: 100px;
    border-radius: 10px;
    padding-top: 10px;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    color: #373867;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

#contact-us address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 25px;
}

#contact-us address div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 80px;
}

#contact-us address img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

#contact-us address div:last-of-type {
    margin: 0;
}

.pbs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-top: 60px solid #49A37B;
}

.pbs div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.pbs div:nth-child(2) {
    margin: 55px 0;
}

.pbs h4 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
}

.pbs ol {
    padding-left: 23px;
    list-style-type: decimal;
}